/* RESET */

body, html{ font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;font-family: 'Merriweather Sans', sans-serif; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{ box-sizing: border-box; }
ol,ul{list-style-type: none;}

a{text-decoration: none;}
hr{width: 100%; margin-left: 0px;}

/* ! CONTAINER */

.flex.container{
    display: flex;
    height: 90vh;
    width: 1200px;
    width: 100%;
    }

#app-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

#sidebar{
    width: 350px;
    background-color: black;
    display: flex;
    flex-direction: column;
    }

/************ FINE CONTAINER ****************/


/* SIDEBAR */

/* ! LOGO */

#logo{
    display: flex;
    height: 106px;
    justify-content: center;
}

#sidebar #logo img{
    max-width: 150px;
}

/* ! MENU-SIDE */
#menu-side{
    height: 100%;
    color: #717171;
}

#menu-side a{
    margin-top: 5px;
    color: #717171;
}

#menu-side ul{
    margin-left: -25px;
}

#menu-side li{
    padding: 4px 0px;
}

#menu-side h3 {
    color: white;
}

.fa-plus{
    background-color: gray;
    padding: 5px;
}

#menu-side a:hover{
    color: white;
}

#menu-side img{
    width: 20px;
    color: #717171;
    }

/* ! MENU-FOOTER */
#menu-footer{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

#menu-footer a{
    color: #717171;
}

#menu-footer a:hover{
    color: white;
}

#menu-footer img{
    width: 15px;
}

#menu-footer p{
    margin: 0px;
}

/************ FINE SIDEBAR ****************/

/* HEADER */

.header{
    height: 10vh;
    width: 100%;
    background-color: #080B12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

.header a{
    color: #717171;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 13px;
 }

 .header a:hover{
    color: white;
    border: 1px solid white;

 }

 /************ FINE HEADER ****************/

/* MAIN */

.main{
    height: 80vh;
    width: 100%;
    background-color: #141922;
    
    }

#main-header{
    width: 100%;
    display: flex;
    color: #797C80;
    justify-content: center;
    flex-wrap: wrap;
}

#main-header li{
    display: inline-block;
    margin: 0 10px;
}

#main-header a{
    color: #797C80;
}

#main-header a:hover{
    color: white;
    border-bottom: 1px solid greenyellow;
}

#main-container{
    color: white;
    height: 87%;
    padding: 10px;
   
}

#album-container{
    
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#album-container .row .album-box:nth-child(3) img{
    position: relative;
    opacity: 30%;
}

#album-container .row .album-box:nth-child(3) .icon {
    position: absolute;
    
}

.row{
    display: flex;
    
}

.radius{
    border-radius: 50%;
}

.album-box{
    
    width: calc(100% / 6 - 20px);
    margin: 10px;
    display: block;
    text-align: center;
}

.album-box img{
    width: 100%;
    display: block;
}

/************ FINE MAIN ****************/


/* FOOTER */

.column{
    display: flex;
    flex-direction: column;
}

.footer{
    height: 10vh;
    width: 100%;
    background-color: #282828;
    display: flex;
    border: 1px solid greenyellow;
    color: #797C80;
    justify-content: space-between;
}

#song-title, #player, #volume{
    display: flex;
    border: 1px solid red;
}

#song-title{
    padding:5px
}

#song-title p{
    margin: 0px;
    font-size: 9px;
    padding: 5px;
}

#song-title img{
    width: 30%;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons i{
    margin: 10px;
}

#player{
    color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}


#player .icons-player i{
    margin: 10px 15px;
}

.progress-bar{
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 0px 10px;
    border: 1px solid red;
    }

.progress-bar p{
    padding: 0px 10px;
}

.bar{
    background-color: grey;
    width: 100%;
    height: 2px;
    border-radius: 10px;
}

#volume{
   display: flex; 
   align-items: center;
   padding: 0px 5px;
}

#volume i{
    padding: 5px;
}

.bar-volume{
    background-color: white;
    width: 10%;
    height: 10px;
    border-radius: 10px;
}


/* ! Hide or Show */
.logo-small-hidden{
    display: none;
}

/* MEDIA QUERIES */

/* Screen Medium */

@media (max-width: 1000px) {

    .row {
        flex-wrap: wrap;
    }
  
    .album-box {
        width: calc(100% / 4 - 20px);
    }

    #main-header ul{
        text-align: center;
        line-height: 1.7em;
    }

}   

/* Screen Small */

@media (max-width: 768px) {

    .album-box {
        width: calc(100% / 2 - 20px);
    }
} 

@media (max-width: 480px) {

    .album-box {
        width: calc(100% / 2 - 20px);
    }

    .xs-hidden {
        display: none;
    }

    .xs-show {
        display: initial;
      }

    #sidebar #logo img, #menu-side img  {
        width: 40px;
        margin-top: 10px;
    }

    #menu-footer img{
        width: 30px;
        margin: 5px 10px;
    }

    #menu-block2, #menu-side span, #menu-footer span, hr{
        display: none;
    }

    #menu-side ul {
        margin-left: -28px;
    }

    .icons i {
        margin: 6px;
}

    
} 