/* RESET */

body, html{ font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;font-family: 'Merriweather Sans', sans-serif; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{ box-sizing: border-box; }
ol,ul{list-style-type: none;}

a{text-decoration: none;}
hr{width: 100%; margin-left: 0px;}

/* ! CONTAINER */

.flex.container{
    display: flex;
    height: 90vh;
    width: 100%;
    }

#app-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: blue;
}

#sidebar{
    width: 220px;
    background-color: black;
    display: flex;
    flex-direction: column;
    }

/* SECTIONS */

/* SIDEBAR */

/* ! LOGO */

#logo{
    display: flex;
    height: 106px;
    justify-content: center;
}

#sidebar #logo img{
    width: 70%;
}

/* ! MENU-SIDE */
#menu-side{
    height: 100%;
    color: #717171;
}

#menu-side li{
    margin-top: 5px;
    color: #717171;
}

#menu-side ul{
    margin-left: -25px;
}

#menu-side h3 {
    color: white;
}

.fa-plus{
    background-color: gray;
    padding: 5px;
}

#menu-side li:hover{
    color: white;
}

#menu-side img{
    width: 20px;
    color: #717171;
    }

/* ! MENU-FOOTER */
#menu-footer{
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
}

#menu-footer a{
    color: #717171;
}

#menu-footer a:hover{
    color: white;
}

#menu-footer img{
    width: 15px;
}

#menu-footer p{
    margin: 0px;
}

/* HEADER */

.header{
    height: 10vh;
    width: 100%;
    background-color: #080B12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }

.header a{
    color: #717171;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
 }

 .header a:hover{
    color: white;
    border: 1px solid white;

 }

/* MAIN */

.main{
    height: 80vh;
    width: 100%;
    background-color: #141922;
    border: 1px solid red;
    }

#main-header{
    width: 100%;
    height: 80px;
    border: 1px solid red;
    display: flex;
    color: #797C80;
}





/* FOOTER */

.footer{
    height: 10vh;
    width: 100%;
    background-color: green;
    
    }

   